.parking-list{
	float: left;list-style: none;width: 20px;margin-left: 5px; margin-right: 5px;
	line-height: 40px;
}
.parking-list:hover{
	cursor: pointer;
}
.parking-list-road{
	float: left;list-style: none;width: 30px;margin-left: 2px; margin-right: 2px;
	line-height: 40px;background: #ccc;text-align: center;color: #FF7500;
}
.statusColor{color: red}