*{
    padding: 0;
    margin: 0;
}
[v-cloak]{
    display: none;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    color: #333;
    overflow: hidden;
    /*
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
    font: 14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;
    font: 12px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
*/
}
.ym-container{
    width: 100%;
    height: 100%;
    position: absolute
}
.container-menu-header{padding: 0 0 !important;height:45px !important;background: #2f4050;}
.container-menu-header .header-collapse{height: 45px !important;line-height:45px;display: inline-block;
    padding-left: 8px;color: white;float: left;width: 30px;cursor: pointer;    font-size: 22px;}
.container-menu-header .header-menu{height: 45px !important;line-height:45px;display: inline-block;float: left;}
.container-menu-header .header-dropdown{height: 45px !important;line-height:45px;display: inline-block;
    float: right;padding-right: 25px;color: white;    cursor: pointer;}
    .container-menu-header .header-dropdown .el-dropdown{color: white;}
.container-menu-header .header-menu .el-menu-item,
.container-menu-header .header-menu .el-submenu{height: 45px !important;line-height:45px;}
.container-menu-header .header-menu .el-submenu .el-submenu__title{height: 45px !important;line-height:45px;}
.el-menu.el-menu--horizontal{border-bottom-width: 0;}

.container-aside-logo .container-aside{width:210px;background:white;}

.container-aside-logo{
    height: 45px;
    background: #2f4050;
    position: fixed;
    top: 0;
    z-index: 1203;
    font-size: 15px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing:1px;
    color: white;
}

.container-aside-logo .el-avatar{margin: 5px 0 0 10px;float: left}

.container-aside-logo .title{margin-left: 5px;font-size: 17px}


.container-aside-menu{margin-top: 45px}
.container-aside-menu .el-menu-item, .container-aside-menu .el-submenu__title{
    height: 40px;
    line-height: 40px;
}
.container-aside-menu .el-menu{border-right: none}
.container-main{
	width:100%;background:#efefef;padding:15px 15px 15px 15px; height: max-content; overflow: auto;
}
.container-main .container-main-box{
    background: white;
    border-radius: 5px;
    min-width: 100%;
    width: auto;
    overflow: hidden;
    padding: 15px 15px 15px 15px;
    box-sizing: border-box;
    justify-content: space-between;
    height: auto;

}
.container-main .container-main-box .container-content{
	
}
.el-tabs--border-card>.el-tabs__content{padding:0;height: 0px;border: none;}
.container-tabs{
    box-shadow:none;

}
.container-tabs .el-tabs__item,
.container-tabs .el-tabs__nav-prev,
.container-tabs .el-tabs__nav-next{height: 35px;line-height: 35px}
.container-tabs #tab-0 .el-icon-close{display: none}
.container-tabs-dropdown{
    position: fixed;
    right: 0;
    font-size: 14px;
    cursor: pointer;
    width: 55px;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    border: 1px solid transparent;
    color: #FF7500;
    background-color: #FFF;
    border-left-color: #DCDFE6;
    border-bottom: 1px solid  #DCDFE6;
}

.el-menu--collapse .el-menu .el-submenu, .el-menu--popup{min-width: 152px}



.el-dialog__wrapper{overflow:hidden}

.ym-dialog.auto{
    overflow: hidden;
    border-radius: 3px;
}

.ym-dialog.fixed{
    position: fixed;
    right: 0;
    overflow: hidden;
    border-radius: 0px;
	margin: 0 auto 0px !important;
}

.ym-dialog .el-dialog__header{
    border-bottom: 1px solid #eee;
    padding: 12px 20px 12px 20px;
}

.ym-dialog .el-dialog__body{
    padding: 1px 0px 1px 10px;
}

.ym-dialog .el-dialog__footer{
    border-top: 1px solid #eee;
	padding: 10px 10px;
}

.ym-dialog.fixed .el-dialog__footer{
	text-align: left;
}
.ym-dialog.auto .el-dialog__footer{
	text-align: right;
}
.ym-dialog .ym-dialog-main{
    overflow: auto;
}
.ym-form .el-form-item{margin-bottom: 8px !important;}
.form-container-options{margin-bottom: 8px;}










.inline-tables .el-table th {
	padding: 8px 0;
}
.inline-tables .el-table td {
	padding: 0 0;
}
.inline-tables .el-table .cell {
    white-space: nowrap;
    font-size: 12px;
}
.inline-tables.no-pic .el-table td {
    padding: 5px 0;
}
.Va-table-move {
    position: relative;
    white-space: pre-wrap !important;
    width: max-content !important;
    background: #fff;
    text-align: left;
    z-index: 1991;
    padding: 3px 10px 3px 10px !important;
    border-radius: 2px;
    max-width: 400px;
    word-break: break-all !important;
    font-size: 13px;
    overflow: visible !important;
    text-overflow: clip !important;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.Va-table-move-close {
    top: -10px;
    right: -10px;
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 2px;
    cursor: pointer;
    background-color: #666;
    border-radius: 50%;
    color: #fff;
    z-index: 9999999999;
    margin: 0 auto;
    font-size: 20px;
}
.has-gutter tr th {
    background: #f5f6fa;
}

.ym-upload-import{margin-top: 15px;margin-left: 10px;margin-bottom: 10px;}
.ym-upload-import .tips{font-size: 11px;
    margin-top: 5px;
    display: inline-block;
    color: #a9a9a9;
}
.ym-upload-import .title{
    overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 360px;
}
.ym-upload-import .button {
    position: absolute;
    right: 10px;
    top: 10px;

}
.ym-upload-import .icon {
    font-size: 67px;
    color: #C0C4CC;
    margin: 40px 0 16px;
    line-height: 50px;
}


.ym-dialog-forms{padding-left: 5px;padding-right: 15px;padding-top: 8px;}
.ym-dialog-forms .el-form-item__label{padding: 0 0 1px;line-height: 20px;}

.ym-dialog-forms .Va-help-block{
    display: block;
    margin-top: 2px;
    color: #737373;
    font-size: 12px;
    min-height: 18px;
    margin-bottom: 0;
    line-height: 1.5;
}

.ym-dialog-forms .Va-help-block:hover {
    color: #222;
}

.ym-table-span{font-size: 11px;color: #606266}
.ym-table-span.success,.ym-views-span.success{color: #67c23a}
.ym-table-span.warning,.ym-views-span.warning{color: #e6a23c}
.ym-table-span.fail,.ym-views-span.fail{color: #f56c6c}

.el-button[inline] {
    padding: 4PX 5PX;
    margin-left: 5px;
}